footer 
{
    text-align: center;
    font-family:fantasy;
}
h2
{
     text-align: center;
}
title
{
     text-align: center;
}
h1
{
     text-align: center;
}

.artical
{
    margin-bottom: 30px;
}
body
{
}